<div class="modal fade" id="modal-details-test-instance">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-mygreen">
                    <i class="fontello-icon-tint"></i> Details of
                    <strong>
                        <span id="test-instance-test-name"></span>
                        <small><span id="test-instance-test-description"></span></small>
                    </strong>
                    test instance from 
                    <strong>{{ testSet.name }}</strong>
                    <small>{{ testSet.description }}</small>
                </h4>
            </div>
            <div class="modal-body">Work in progress ...</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>