{% set form = addTestSetFormView %}
{% set application = application %}
<div class="modal fade" id="modal-add-test-set">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-{{ context }}">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-{{ context }}">
                    <i class="fontello-icon-tasks"></i> Add a <strong>feature</strong> to 
                    <strong><span id="new-test-set-test-set-folder-name"></span></strong>
                    <small><span id="new-test-set-test-set-folder-description"></span></small>
                </h4>
            </div>
            <div class="modal-body">
                <form id="form-add-test-set" name="test_set" method="post" action="#">
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-test-set"
                        data-test-set-folder-id=""
                        data-test-set-folder-name="">Save changes</button>
            </div>
        </div>
    </div>
</div>