<footer class="footer">
    <div class="container">
        <p class="text-muted pull-right">
            <strong><i class="fontello-icon-ok"></i>ART Manager</strong> v.{{ version }}
        </p>
    </div>
</footer>