<footer class="footer">
    <div class="container">
        <p class="pull-left">
            <img src="{{ asset('images/logos/art/art-m-logo-M.png') }}"/>
        </p>
        <p class="text-muted pull-right">v.{{ version }}</p>
    </div>
</footer>