{% if app.user %}
    <div id="sidebar" class="navmenu navmenu-inverse navmenu-fixed-left offcanvas">
        <h2 id="sidebar-title" class="text-center">
            <i id="sidebar-title-icon" class="fontello-icon-hourglass"></i>Planned Test Set Runs
        </h2>
        <div id="sidebar-content">
            {% include "AppMainBundle:test-set:run/planned.list.html.twig"
                with { 'testSetRunsByApplicationTestSet': testSetRunsByApplicationTestSet } %}
        </div>
    </div>

    <div class="affix">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#sidebar" data-canvas="body"
                style="display: block; float: left; margin-left: 15px;">
            <i class="fontello-icon-hourglass"></i>
        </button>
    </div>
{% endif %}