<div id="sidebar" class="navmenu navmenu-inverse navmenu-fixed-left offcanvas">
    <h2 id="sidebar-title" class="text-center">
        <i id="sidebar-title-icon" class="fontello-icon-hourglass"></i>Planned Test Set Runs
    </h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fontello-icon-cog"></i>First Project
            <i class="fontello-icon-right-open"></i>
            <i class="fontello-icon-leaf"></i>ART Manager
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <p class="list-group-item-heading">
                    <strong>
                        <i class="fontello-icon-beaker"></i>Root\Security\Secure ART Manager with standard privileges
                    </strong>
                </p>
                <p class="list-group-item-text">
                    <ul class="list-unstyled">
                        <li>
                            <span class="text-success"><i class="fontello-icon-circle"></i></span>
                            Requested 3 minutes ago
                        </li>
                        <li>
                            <span class="text-warning"><i class="fontello-icon-circle"></i></span>
                            Requested 1 minute ago
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <h2 class="text-center">Work in progress...</h2>
</div>

<div class="affix">
<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#sidebar" data-canvas="body"
        style="display: block; float: left; margin-left: 15px;">
    <i class="fontello-icon-hourglass"></i>
</button>
</div>