<table id="run-execution-grid-{{ testSetRun.id }}"
        class="table table-hover table-condensed table-striped table-responsive table-bordered">
    <thead>
        <tr>
            <th class="text-center"><i class="fontello-icon-sort"></i>Order</th>
            <th class="text-center"><i class="fontello-icon-ellipsis-vert"></i>Scenario</th>
            <th class="text-center"><i class="fontello-icon-flag-checkered"></i>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for testRun in testSetRun.testRuns %}
            {% include "AppMainBundle:test:run/item.html.twig" with { 
                'testRun': testRun
            } %}
        {% endfor %}
    </tbody>
</table>