<table id="run-execution-grid-{{ testSetRun.id }}"
        class="table table-hover table-condensed table-striped table-responsive">
    <thead>
        <tr>
            <th><i class="fontello-icon-sort"></i>Order</th>
            <th><i class="fontello-icon-pencil"></i>Test name</th>
            <th><i class="fontello-icon-flag-checkered"></i>Status</th>
            <th><i class="fontello-icon-upload-cloud"></i>Requested</th>
        </tr>
    </thead>
    <tbody>
        {% for testRun in testSetRun.testRuns %}
            {% include "AppMainBundle:test:run/item.html.twig" with { 
                'testRun': testRun
            } %}
        {% endfor %}
    </tbody>
</table>