<table id="history-grid-{{ testSet.id }}"
        class="table table-hover table-condensed table-striped table-responsive">
    <thead>
        <tr>
            <th><i class="fontello-icon-upload-cloud"></i>Requested</th>
            <th><i class="fontello-icon-user"></i>By</th>
            <th><i class="fontello-icon-flag-checkered"></i>Status</th>
            <th><i class="fontello-icon-clock"></i>Duration (seconds)</th>
            <th><i class="fontello-icon-cloud"></i>Execution Server</th>
            <th><i class="fontello-icon-edit"></i>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for testSetRun in testSet.runs %}
            {% include "AppMainBundle:test-set:run/item.html.twig" with { 
                'testSetRun': testSetRun
            } %}
        {% endfor %}
    </tbody>
</table>