<div id="history-grid">
    {% include "AppMainBundle:test-set:run/history-grid_table.html.twig" %}
    <div id="selected-run-execution-grid" style="display: none;">
        <h3 class="text-center">
            <strong><i class="fontello-icon-table"></i> Execution Grid</strong>
        </h3>
        <div id="selected-run-execution-grid-table"></div>
    </div>
</div>