<div class="modal fade" id="modal-test-set-history">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-{{ context }}">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-{{ context }}">
                    <i class="fontello-icon-back-in-time"></i> History of
                    <strong>{{ testSet.name }}</strong>
                    <small>{{ testSet.description }}</small>
                </h4>
            </div>
            <div class="modal-body">
                {% include "AppMainBundle:test-set:run/history-grid.html.twig" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>