{% for applicationId, applicationTestSets in testSetRunsByApplicationTestSet %}
    {% include "AppMainBundle:test-set:run/planned.item.html.twig"
        with {
            'application': applicationTestSets.application,
            'testSets': applicationTestSets.testSets 
        } 
    %}
{% else %}
    <h3 class="text-center">No planned test set runs</h3>
{% endfor %}