<div class="row test-set-execution-grid">
    <div class="col-md-12">
        <h3 class="text-center">
            <span class="pull-left">
                <a href="#execution-grid-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="execution-grid-collapse">
                    <i class="fontello-icon-up-open execution-grid-collapse-toggle-icon"></i></a>
            </span>
            <strong>
                <i class="fontello-icon-table"></i> Execution Grid
                <a href="#" id="refresh-execution-grid" data-toggle="tooltip"
                   title="Refresh"
                   data-placement="right"
                   data-id="{{ testSet.id }}"><i class="fontello-icon-arrows-cw"></i></a>
            </strong>
            <span class="pull-right">
                <a href="#execution-grid-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="execution-grid-collapse">
                    <i class="fontello-icon-up-open execution-grid-collapse-toggle-icon"></i></a>
            </span>
        </h3>
    </div>
</div>
<div class="collapse in" id="execution-grid-collapse">
    <div class="row">
        {% include "AppMainBundle:test-set:editor/execution-grid_content.html.twig" %}
    </div>
    {% include 'AppMainBundle:test-set:editor/run.html.twig' %}
</div>