<table id="execution-grid-{{ testSet.id }}"
        class="table table-hover table-condensed table-striped table-responsive table-bordered">
    <thead>
        <tr>
            <th class="text-center"><i class="fontello-icon-sort"></i>Order</th>
            <th class="text-center"><i class="fontello-icon-pencil"></i>Test name</th>
            <th class="text-center"><i class="fontello-icon-flag-checkered"></i>Last Status</th>
            <th class="text-center"><i class="fontello-icon-upload-cloud"></i>Last Requested</th>
            <th class="text-center"><i class="fontello-icon-cloud"></i>Last Execution Server</th>
            {% if showActions %}
                <th class="text-center"><i class="fontello-icon-edit"></i>Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for testInstance in testSet.testInstances %}
            {% include "AppMainBundle:test:instance/item.html.twig" with { 
                'testInstance': testInstance,
                'position': loop.index,
                'showActions': showActions
            } %}
        {% endfor %}
    </tbody>
</table>