<div id="execution-grid">
    {% include "AppMainBundle:test-set:editor/execution-grid_table.html.twig" with { 'showActions': true } %}
    <p class="text-center">
        <span id="test-instances-count-{{ testSet.id }}">
            {% if testSet.testInstances|length <= 1 %}There is {% else %}There are{% endif %}
            {% if testSet.testInstances|length == 0 %}no {% else %}<span class="badge">{{ testSet.testInstances|length }}</span>{% endif %}
            scenario instance{% if testSet.testInstances|length > 1 %}s{% endif %} in the execution grid
        </span>
    </p>
    <p class="text-center">
        <a href="#" id="add-test-instance"
           class="btn btn-xs btn-custom-purple"
           data-toggle="tooltip" data-placement="right" title="Add a new scenario instance">
           New <i class="fontello-icon-tint"></i>
        </a>
    </p>
</div>