<div class="row">
    <p class="text-center">
        <a href="#" class="btn btn-lg btn-success" id="run-test-set" data-id="{{ testSet.id }}">
            <i class="fontello-icon-play"></i>Run
        </a>
        <a href="#" class="btn btn-lg btn-info" id="show-test-set-history" data-id="{{ testSet.id }}">
            <i class="fontello-icon-back-in-time"></i>Show history
        </a>
    </p>
</div>