.test-prerequisites, .test-starting, .test-scenario, .test-set-execution-grid {
    border-bottom: 10px solid rgba(255, 255, 255, 0.5);
}

.step {
    border-bottom: 5px solid #fff;
}

.step-header {
    border-bottom: 3px solid #ccc;
}

.step-order {
    font-size: 25px;
    text-align: center;
}

.row.step {
    background-color: rgba(255, 255, 255, 0.8);
}

.row.step.deleted {
    background-color: #F2DEDE;
}

div.row.step > div.step-left > div, div.row.control-step > div {
    min-height: 3em;
    line-height: 3em;
}

.control-step-order {
    font-size: 15px;
    text-align: center;
}