<div class="row step" id="step-row-{{ step.id }}">
    <div class="col-md-6 step-left">
        {% include 'AppMainBundle:test:step/execute/line.html.twig' with { 'step': step } %}
    </div>
    <div class="col-md-6 bg-success">
        {% include 'AppMainBundle:test:step/control/list.html.twig' %}
    </div>
</div>