{% set deleted = step.object.deleted|default(false) %}
<div class="row step {% if deleted %}bg-custom-red text-custom-red{% endif %}" id="step-row-{{ step.id }}" data-id="{{ step.id }}">
    <div class="col-md-6 step-left" id="step-left-{{ step.id }}">
        {% include 'AppMainBundle:test:step/execute/line.html.twig' with { 'step': step } %}
    </div>
    <div class="col-md-6" id="step-right-{{ step.id }}">
        {% include 'AppMainBundle:test:step/control/list.html.twig' %}
    </div>
</div>