{% for step in test.steps %}
    {% include 'AppMainBundle:test:step/execute/item.html.twig' with { 'step': step } %}
{% endfor %}
<div class="row step" id="step-footer">
    <div class="col-md-6 step-left">
        <div class="col-md-12">
            <a href="#" id="add-execute-step"
               data-test-id="{{ test.id }}"
               data-test-name="{{ test.name }}"
               data-test-description="{{ test.description }}"
               data-toggle="tooltip"
               data-placement="right"
               title="Add a new step">
                <i class="fontello-icon-plus-circled"></i>
            </a>
        </div>
    </div>
</div>