<div class="row test-scenario">
    <div class="col-md-12">
        <h3 class="text-center">
            <span class="pull-left">
                <a href="#scenario-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="scenario-collapse">
                    <i class="fontello-icon-up-open scenario-collapse-toggle-icon"></i></a>
            </span>
            <strong>
                <i class="fontello-icon-ellipsis-vert"></i> Steps
            </strong>
            <span class="pull-right">
                <a href="#scenario-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="scenario-collapse">
                    <i class="fontello-icon-up-open scenario-collapse-toggle-icon"></i></a>
            </span>
        </h3>
    </div>
</div>
<div class="collapse in" id="scenario-collapse">    
    <div id="step-rows">
        {% for step in test.steps %}
            {% include 'AppMainBundle:test:step/execute/item.html.twig' with { 'step': step } %}
        {% endfor %}
    </div>

    <div class="row step" id="step-footer">
        <div class="col-md-6 step-left">
            <div class="col-md-12">
                <a href="#" id="add-execute-step"
                   data-test-id="{{ test.id }}"
                   data-toggle="tooltip"
                   data-placement="right"
                   title="Add a new step">
                    <i class="fontello-icon-plus-circled"></i>
                </a>
            </div>
        </div>
    </div>
</div>