{% set form = addObjectFormView %}
<div class="modal fade" id="modal-add-object">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-danger">
                    <i class="fontello-icon-puzzle"></i> Add an object to
                    <strong><span id="new-object-page-name"></span></strong>
                    <small><span id="new-object-page-description"></span></small>
                </h4>
            </div>
            <div class="modal-body">
                <form id="form-add-object" name="object" method="post" action="#">
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-object"
                        data-page-id=""
                        data-page-name="">Save changes</button>
            </div>
        </div>
    </div>
</div>