{% set form = addExecutionServerFormView %}
<div class="modal fade" id="modal-add-execution-server">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-{{ context }}">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-{{ context }}">
                    <i class="fontello-icon-gauge"></i> Add an <strong>execution server</strong>
                </h4>
            </div>
            <div class="modal-body">
                <form id="form-add-execution-server" name="execution-server" method="post" action="#">
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-execution-server">Save changes</button>
            </div>
        </div>
    </div>
</div>