{% extends 'base.html.twig' %}

{% block jumbotronTitle %}<i class="fontello-icon-lock"></i>{% trans from "titles" %}Authentication{% endtrans %}{% endblock %}
{% block jumbotronBody %}
    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
