<div class="modal fade" id="modal-prerequisite">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-mypurple">
                    <i class="fontello-icon-back-in-time"></i>
                    Add a new <strong>prerequisite</strong>
                </h4>
            </div>
            <div class="modal-body" id="modal-prerequisite-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-prerequisite"
                        data-test-id="">Save changes</button>
            </div>
        </div>
    </div>
</div>