{% set form = addTestFolderFormView %}
{% set application = application %}
<div class="modal fade" id="modal-add-test-folder">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-mypurple">
                    <i class="fontello-icon-folder"></i> Add a <strong>test folder</strong>
                </h4>
            </div>
            <div class="modal-body">
                <form id="form-add-test-folder" name="test-folder" method="post" action="#">
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save-test-folder"
                        data-application-id="{{ application.id }}">Save changes</button>
            </div>
        </div>
    </div>
</div>