<div class="row test-prerequisites">
    <div class="col-md-4 col-md-offset-4">
        <h1 class="text-center">
            <strong>
                <a href="#prerequisites-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="prerequisites-collapse">
                    <i class="fontello-icon-back-in-time"></i></a>
                Prerequisites
            </strong>
            <span class="badge" id="prerequisites-count">0</span>
        </h1>
    </div>
    <div class="col-md-12">
        <div class="collapse" id="prerequisites-collapse">
            <div class="well">.....</div>
        </div>
    </div>
</div>