<div class="row test-starting">
    <div class="col-md-12">
        <h1 class="text-center">
            <strong>
                <a href="#starting-page-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="starting-page-collapse">
                    <i class="fontello-icon-to-start"></i></a>
                Starting page :
            </strong>
            <span id="starting-page-name">
                {% if test.startingPage %}{{ test.startingPage }}{% endif %}
            </span>
        </h1>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <div class="collapse" id="starting-page-collapse">
            <p class="text-center">
                {% set form = startingPageFormView %}
                {{ form_widget(form.startingPage) }}
            </p>
        </div>
    </div>
</div>